<div>
  <h1>Welcome! Eluly!</h1>
  <% include ../partials/header %>
  <% include ../partials/aside %>
</div>
<div id="content">
  <div>
    <div>
      <div>
        <label for="">제목</label>
        <input type="text" name="title" id="title" value="<%= editView.title %>">
      </div>
      <div>
        <label for="">이름</label>
        <span><%= editView.name %></span>
      </div>
      <div>
        <label for="">가로</label>
        <input type="text" name="width" id="width" value="<%= editView.width %>">
      </div>
      <div>
        <label for="">세로</label>
        <input type="text" name="height" id="height" value="<%= editView.height %>">
      </div>
      <div>
        <div id="actions">
          <div>
            <span class="btn btn-success fileinput-button dz-clickable">
              <span>Add File</span>
            </span>
          </div>
        </div>
        <div>
          <span class="fileupload-process">
            <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
              <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
            </div>
          </span>
        </div>
        <div class="table table-striped" class="files" id="previews">
          <div id="template" class="file-row">
            <!-- This is used as the file preview template -->
            <div>
                <span class="preview"><img data-dz-thumbnail /></span>
            </div>
            <div>
                <p class="name" data-dz-name></p>
                <strong class="error text-danger" data-dz-errormessage></strong>
            </div>
            <div>
                <p class="size" data-dz-size></p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                  <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                </div>
            </div>
            <div>
              <button data-dz-remove class="btn btn-warning cancel">
                  <i class="glyphicon glyphicon-ban-circle"></i>
                  <span>Cancel</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <label for="">비고</label>
        <textarea name="comment" id="comment" cols="30" rows="10"><%= editView.comment %></textarea>
      </div>
    </div>
    <div>
      <button id="confirm">저장</button>
    </div> 
  </div>
</div>
<script src="/js/dropzone/dist/dropzone.js"></script>
  <link rel="stylesheet" href="/css/dz.css">
  <script>
    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
  const previewNode = document.querySelector("#template");
  previewNode.id = "";
  const previewTemplate = previewNode.parentNode.innerHTML;
  previewNode.parentNode.removeChild(previewNode);
  
  const myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
    url: '/admin/api/popup/edit/<%= editView.id %>?_method=put', // Set the url
    method: 'post',
    paramName: function() { return 'files'; },
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    previewTemplate: previewTemplate,
    autoProcessQueue: false,
    previewsContainer: "#previews", // Define the container to display the previews
    clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
    parallelUploads: 5,
    maxFiles: 5,
    maxFilesize: 5,
    uploadMultiple: true,
    init: function() {
      const myDropzone = this;
      const count = myDropzone.options.maxFiles;

      $.get('/admin/api/popup/edit/fileView/<%= editView.id %>', function(result) {
        let existingFileCount = 0;
        $.each(result, function(key, value) {        
          let mockFile = value
          myDropzone.emit("addedfile", mockFile);
          myDropzone.emit("thumbnail", mockFile, '/uploads/popupFile/' + mockFile.name);
          myDropzone.emit("success", mockFile);
          myDropzone.files.push(mockFile);

          existingFileCount = existingFileCount + 1;
        });
        myDropzone.options.maxFiles = myDropzone.options.maxFiles - existingFileCount;
      });

      this.on("maxfilesexceeded", function(file) {
        alert('Max File Count: ' + count);
        myDropzone.removeFile(file);
      })
    }
  });
  
  // Update the total progress bar
  myDropzone.on("totaluploadprogress", function(progress) {
    document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
  });
  
  myDropzone.on("sending", function(file) {
    // Show the total progress bar when upload starts
    document.querySelector("#total-progress").style.opacity = "1";
  });
  
  // Hide the total progress bar when nothing's uploading anymore
  myDropzone.on("queuecomplete", function(progress) {
    document.querySelector("#total-progress").style.opacity = "0";
    document.location.href = '/admin/api/popup/<%= editView.id %>';
  });
  
  $('#confirm').click(function(e) {
    // e.preventDefault();
    let filename = [];
    let filestatus = '';

    myDropzone.files.map(f => {        
      filename.push(f.name)
    });
    myDropzone.files.map(f => {        
      filestatus += f.status
    });
    console.log(filename)
    console.log(filestatus.indexOf('queued'))
    if(filestatus.indexOf('queued') === -1) {
      console.log('1')
      $.ajax({
          url: '/admin/api/popup/edit/<%= editView.id %>?_method=put',
          method: 'post',
          data: {
            title: $('#title').val(),
            width: $('#width').val(),
            height: $('#height').val(),
            comment: $('textarea#comment').val(),
            filename: filename
          },
          success: function() {
            console.log('success');
            document.location.href = '/admin/api/popup/<%= editView.id %>'
          }
        });
    } else {
      myDropzone.options.params = {
        title: $('#title').val(),
        width: $('#width').val(),
        height: $('#height').val(),
        comment: $('textarea#comment').val(),
        filename: filename
      };

      myDropzone.processQueue();
    };
  });
  
  let cancel = $('.cancel');
  for(let i = 0; i < cancel.length; i ++) {
    cancel[i].click(function(e) {
      myDropzone.removeAllFiles(true);
    })
  }
  </script>