<div>
  <aside id="sideBar">
    <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab">
          <a href="/"> Home </a>
        </div>
      </div>
      <div class="card-header" role="tab">
        <span><a href="/api/board">자유게시판</a></span>
      </div>
      <div class="card-header" role="tab">
        <span><a href="/api/designerProfile">개발자 프로필</a></span>
      </div>
      <div class="card-header" role="tab">
        <span><a href="/api/customerContent">이용자의 계획</a></span>
      </div>
      <div class="card-header" role="tab">
        <span><a href="/api/qna">QnA</a></span>
      </div>
    </div>  
  </aside>
</div>