<div>
  <h1>Welcome! Eluly!</h1>
  <% include ../partials/header %>
  <% include ../partials/aside %>
</div>
<div>
  <div id="content">
    <div>
      <div>
        <div>
          <label for="">작성자</label>
          <span><%= designerProfile.name %></span>
        </div>
        <div>
          <label for="">포트폴리오 : </label>
            <% for(let i = 0; i < designerProfile.portfolioFile.length; i ++) { %>
              <span><a href="/api/designerProfile/<%= designerProfile.id %>/download/<%= designerProfile.portfolioFile[i] %>"><%= designerProfile.portfolioFile[i] %></a></span>
            <% } %>
        </div>
        <div>
          <label for="">종목</label>
          <span><%= designerProfile.major %></span>
        </div>
        <div>
          <label for="">경력</label>
          <span><%- designerProfile.career %></span>
        </div>
      </div>
    </div>
  </div>
</div>