<div>
  <aside id="sideBar">
    <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab">
          <a href="/designer"> Home </a>
        </div>
      </div>
      <div class="card-header" role="tab">
        <span><a href="/designer/api/designerProfile">개발자 프로필</a></span>
      </div>
      <div class="card-header" role="tab">
        <span><a href="/designer/api/customerContent">이용자의 계획</a></span>
      </div>
      <div class="card-header" role="tab">
        <span><a href="/designer/api/QnA">QnA</a></span>
      </div>
    </div>  
  </aside>
</div>