<div id="content">
  <input type="hidden" name="username" value="<%= username %>">
  <div>
    <label for="">Portfolio</label>
    <div>
      <div id="actions">
        <div>
          <span class="btn btn-success fileinput-button dz-clickable">
            <span>Add File</span>
          </span>
        </div>
      </div>
      <div>
        <span class="fileupload-process">
          <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
          </div>
        </span>
      </div>
      <div class="table table-striped" class="files" id="previews">
        <div id="template" class="file-row">
          <!-- This is used as the file preview template -->
          <div>
              <span class="preview"><img data-dz-thumbnail /></span>
          </div>
          <div>
              <p class="name" data-dz-name></p>
              <strong class="error text-danger" data-dz-errormessage></strong>
          </div>
          <div>
              <p class="size" data-dz-size></p>
              <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
              </div>
          </div>
          <div>
            <button data-dz-remove class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <label for="">전공</label>
    <input type="text" name="major" id="major">
  </div>
  <div>
    <label for="">경력</label>
    <textarea name="career" id="career" cols="30" rows="10"></textarea>
  </div>
  <div>
    <button id="confirm">회원가입</button>
  </div>
</div>
<script src="/js/dropzone/dist/dropzone.js"></script>
  <link rel="stylesheet" href="/css/dz.css">
  <script>
    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
  const previewNode = document.querySelector("#template");
  previewNode.id = "";
  const previewTemplate = previewNode.parentNode.innerHTML;
  previewNode.parentNode.removeChild(previewNode);
  
  const myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
    url: '/designer/api/auth/register2', // Set the url
    method: 'post',
    paramName: function() { return 'portfolioFile'; },
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    previewTemplate: previewTemplate,
    autoProcessQueue: false,
    previewsContainer: "#previews", // Define the container to display the previews
    clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
    parallelUploads: 5,
    maxFiles: 5,
    maxFilesize: 5,
    uploadMultiple: true
  });
  
  // Update the total progress bar
  myDropzone.on("totaluploadprogress", function(progress) {
    document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
  });
  
  myDropzone.on("sending", function(file) {
    // Show the total progress bar when upload starts
    document.querySelector("#total-progress").style.opacity = "1";
  });
  
  // Hide the total progress bar when nothing's uploading anymore
  myDropzone.on("queuecomplete", function(progress) {
    document.querySelector("#total-progress").style.opacity = "0";
    window.location.href = 'http://localhost:3000/designer/api/auth/login'
  });

  $('#confirm').click(function(e) {
    if(myDropzone.files.length === 0) {
      alert('파일 없어! 파일 내놔!')
    } else {
      myDropzone.options.params = {
        username: $('input[name=username]').val(),
        major: $('input[name=major]').val(),
        career: $('textarea#career').val(),
      }
      myDropzone.processQueue();
    }
  })
  
  let cancel = $('.cancel');
  for(let i = 0; i < cancel.length; i ++) {
    cancel[i].click(function(e) {
      myDropzone.removeAllFiles(true);
    })
  }
  </script>