<div>
  <h1>Welcome! Eluly!</h1>
  <% include ../partials/header %>
  <% include ../partials/aside %>
</div>
<div>
  <div>
    <% if(errorMsg) { %>
      <div class="alert alert-danger"><%= errorMsg %></div>
    <% } %>
  </div>
  <form action="/api/auth/resetPassword?_method=put" method="post">
    <input type="hidden" name="token" value="<%= token %>">
    <div>
      <div>
        <label for="">새 비밀번호</label>
        <input type="password" name="newPassword" id="newPassword">
      </div>
      <div>
        <label for="">비밀번호 확인</label>
        <input type="password" name="confirmPassword" id="confirmPassword">
      </div>
    </div>
    <div>
      <button type="submit">수정</button>
    </div>
  </form>
</div>